@import "tailwindcss";

/* Define the vertical scroll keyframes */
@keyframes scrollVertical {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-50%); }
}

.animate-scroll-vertical {
  animation: scrollVertical 30s linear infinite;
}

/* Custom utility class for the marquee */
.animate-scroll-vertical {
  animation: scrollVertical 40s linear infinite;
}

/* Optional: Pause scrolling when hovering with a mouse */
.animate-scroll-vertical:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}